@import "tailwindcss";

:root {
	--dark: #1F2733;
	--light: #faf4f9;
	--primary-base: #06d6a0;
	--secondary-base: #e05652;
	--accent-base: #f6d251;

  --background: var(--light);
  --foreground: var(--dark);
  --primary: color-mix(in srgb, var(--primary-base) 70%, black 30%);
  --secondary: color-mix(in srgb, var(--secondary-base) 70%, black 30%);
  --accent: color-mix(in srgb, var(--accent-base) 70%, black 30%);
}

.dark {
  --background: var(--dark);
  --foreground: var(--light);
  --primary: var(--primary-base);
  --secondary: var(--secondary-base);
  --accent: var(--accent-base);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
